Latex-example.aux
Latex-example.bbl
Latex-example.bcf
Latex-example.blg
Latex-example.fdb_latexmk
Latex-example.fls
Latex-example.lof
Latex-example.log
Latex-example.lot
Latex-example.out
Latex-example.run.xml
Latex-example.synctex.gz
Latex-example.toc

main-de.aux
main-de.bbl
main-de.bcf
main-de.blg
main-de.fdb_latexmk
main-de.fls
main-de.lof
main-de.log
main-de.lot
main-de.out
main-de.run.xml
main-de.synctex.gz
main-de.toc

main-en.aux
main-en.bbl
main-en.bcf
main-en.blg
main-en.fdb_latexmk
main-en.fls
main-en.lof
main-en.log
main-en.lot
main-en.out
main-en.run.xml
main-en.synctex.gz
main-en.toc